<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Local</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CommonVariables.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'Desktop - Prompt - Challenge.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'NotLoggedIn/Desktop - Prompt - Auth.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'Desktop - Menu.css' %}">
    <link rel="stylesheet" href="{% static 'Desktop - Play Local.css' %}?v=1.2">
</head>
<body>
    <pre class="GameResult" id="ResultDraw" data-prompt-hidden = "true">Game Result: Draw
No Winner</pre>
    <pre class="GameResult" id="ResultForfeit" data-prompt-hidden = "true">Game Result: Forfeit
<span>Player #2</span></pre>
    <div class="ChessPrompt" id="ProposeDraw" data-prompt-hidden = "true">
        <span>Propose Draw?</span>
        <button>Propose</button>
        <button>Cancel</button>
    </div>
    <div class="ChessPrompt" id="AcceptDraw" data-prompt-hidden = "true">
        <span>Accept Draw?</span>
        <button>Accept</button>
        <button>Decline</button>
    </div>
    <div class="ChessPrompt" id="ForfeitMatch" data-prompt-hidden = "true">
        <span>Forfeit Match?</span>
        <button>Stay</button>
        <button>Forfeit</button>
    </div>
    <form id="Prompt-Challenge-Player" data-prompt-hidden = "true" data-target = "0">
        <span id="Prompt-Challenge-Header">Challenge Player #1 to a game of:</span>
        <div id="Prompt-Challenge-Gap1"></div>
        <div id="Prompt-Challenge-Option-Container">
            <div class="Prompt-Challenge-Option" data-chosen="true">Bullet 1 + 0</div>
            <div class="Prompt-Challenge-Option">Blitz 3 + 0</div>
            <div class="Prompt-Challenge-Option">Blitz 3 + 2</div>
            <div class="Prompt-Challenge-Option">Blitz 5 + 0</div>
            <div class="Prompt-Challenge-Option">Rapid 10 + 0</div>
            <div class="Prompt-Challenge-Option">Rapid 20 + 0</div>
        </div>
        <div id="Prompt-Challenge-Gap2"></div>
        <span id="Prompt-Challenge-SubHeader">Choose which chess side to be:</span>
        <div id="Prompt-Challenge-Side" data-chosen="White">
            <img src="{% static 'Resources/White Knight.png' %}" alt="" id="Prompt-Challenge-Side-White">
            <span id="Prompt-Challenge-Side-VS">VS</span>
            <img src="{% static 'Resources/Black Knight.png' %}" alt="" id="Prompt-Challenge-Side-Black">
        </div>
        <div id="Prompt-Challenge-Error" data-error="0" >Connection Error: Unable to reach server</div>
        <div id="Prompt-Challenge-Operation">
            <span id="Prompt-Challenge-Operation-Cancel">Cancel</span>
            <input type="submit" value="Challenge" id="Prompt-Challenge-Operation-Challenge">
        </div>
    </form>
    <form id="Prompt-Auth" data-auth-type="Hidden" data-auth-status="OK">
        <div id="Prompt-Auth-Tab">
            <div id="Tab-Login">Login</div>
            <div id="Tab-SignUp">Sign Up</div>
        </div>
        <span id="Prompt-Auth-Error1">Auth Error: Username doesn't exist!</span>
        <div id="Prompt-Auth-Gap1"></div>
        <div class="Prompt-Auth-Input"><span>Username</span><input type="text" name="PlayerUsername" id="PlayerUsername" placeholder="Enter Username Here" required></div>
        <div class="Prompt-Auth-Input"><span>Password</span><input type="password" name="PlayerPassword" id="PlayerPassword" placeholder="Enter Password Here" required autocomplete="on"></div>
        <span id="Prompt-Auth-Error2">Auth Error: Password is not the same!</span>
        <div id="ReenterPassword" class="Prompt-Auth-Input"><span>Reenter Password</span><input type="password" name="PlayerPasswordAgain" id="PlayerPasswordAgain" placeholder="Enter Password Again Here" disabled required autocomplete="on"></div>
        <div id="Prompt-Auth-Gap2">{% csrf_token %}</div>
        <div id="Prompt-Auth-Operation">
            <div id="Operation-Cancel">Cancel</div>
            <input type="submit" value="Login" id="Operation-Login">
        </div>
    </form>
    <div id="MainLayout">
        {% include "Desktop - Menu.html" %}
        <!--
        <span>{{Target}}</span>
        <span>{{Config}}</span>
        <span>{{Side}}</span>
        <input type="hidden" value="{{csrfmiddlewaretoken}}" name="csrfmiddlewaretoken">
    -->
        <canvas id="ChessboardLayout">
            
        </canvas>
        <div id="Options">
            <button>Offer Draw</button>
            <button>Forfeit</button>
        </div>
        <div id="Match">
            <div class ="PlayerContainer">
                <span class="PlayerName">{% if Side == 'White' %} Black {% else %} White {% endif %}</span>
                <span class="PlayerTime">10:00</span>
            </div>
            <div id="ChessMovements">
                <span id="ChessMovements_Header">Chess Movements</span>
                <div id="ChessMovements_Sides_Header">
                    <span></span>
                    <span>White</span>
                    <span>Black</span>
                    <div></div>
                </div>
                <div class="ChessMovements_Sides">
                    <span>#1</span>
                    <span>Pd4</span>
                    <span>Pd5</span>
                    <div></div>
                </div>
                <div class="ChessMovements_Sides">
                    <span>#2</span>
                    <span>Nc3</span>
                    <span>Nf6</span>
                    <div></div>
                </div>
            </div>
            <div class ="PlayerContainer">
                <span class="PlayerName">{{Side}}</span>
                <span class="PlayerTime">10:00</span>
            </div>
        </div>
    </div>
</body>
<!--Temporary, just to have a chessboard render. Later need to replace with the one where you can move the chess-->
<!--<script src="{% static 'Render Chessboard.js' %}?v=1.0"></script>-->
<script type="module">
    import {React2Canvas} from "{% static 'Chess/Canvas Chess.js' %}?v=1.2";

    /*Players' Details*/
    let Player1Name = "{{Side}}";
    let Player2Name = "{% if Side == 'White' %} Black {% else %} White {% endif %}";

    /*csrf*/
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    /*Prompt Auth*/
    let PromptAuth = document.getElementById("Prompt-Auth");
    let TabLogin = document.getElementById("Tab-Login");
    let TabSignUp = document.getElementById("Tab-SignUp");
    let OperationLogin = document.getElementById("Operation-Login");
    let OperationCancel = document.getElementById("Operation-Cancel");
    let PromptAuthError1 = document.getElementById("Prompt-Auth-Error1");
    let PromptAuthError2 = document.getElementById("Prompt-Auth-Error2");
    let PlayerPassword = document.getElementById("PlayerPassword");
    let PlayerPasswordAgain = document.getElementById("PlayerPasswordAgain");

    TabLogin.addEventListener("click", ()=>{
        PromptAuth.dataset.authType = "Login";
        OperationLogin.value = "Login";
        PromptAuth.dataset.authStatus = "OK";
        PlayerPasswordAgain.disabled = true;
    });
    TabSignUp.addEventListener("click",()=>{
        PromptAuth.dataset.authType = "Signup";
        OperationLogin.value = "Sign Up";
        PromptAuth.dataset.authStatus = "OK";
        PlayerPasswordAgain.disabled = false;
    });
    OperationCancel.addEventListener("click", ()=>{
        PromptAuth.dataset.authType = "Hidden";
        PromptAuth.dataset.authStatus = "OK";
    });
    PromptAuth.addEventListener("submit", async (ev) => {
        ev.preventDefault();
        if(OperationLogin.value !== "Login" && PlayerPassword.value !== PlayerPasswordAgain.value){
            PromptAuthError1.innerText = "Auth Error: Password is not the same!";
            PromptAuth.dataset.authStatus = "ERROR2";
        }
        else{
            let formData = new FormData(document.getElementById("Prompt-Auth"), OperationLogin);
            const url = (OperationLogin.value === "Login")? "/AuthLogin" : "/AuthSignup";
            try {
                const response = await fetch(url, {
                    method: "POST",
                    body: formData,
                    mode: 'same-origin' /*Do not send CSRF token to another domain.*/
                });
                const jsonObject = await response.json();
                if(jsonObject.Status === "Auth Error: Error1"){
                    PromptAuthError1.innerText = jsonObject.Remark;
                    PromptAuth.dataset.authStatus = "ERROR1";
                }else{
                    console.log(jsonObject.Remark);
                    window.location.replace("");
                }
            } catch (error) {
                PromptAuthError1.innerText = "Unable to send response!";
                PromptAuth.dataset.authStatus = "ERROR1";
            }
        }
        });

        /*Prompt Challenge*/
        let PromptChallengePlayer = document.getElementById("Prompt-Challenge-Player");
        let PromptChallengeHeader = document.getElementById("Prompt-Challenge-Header");
        let PromptChallengeOperationCancel = document.getElementById("Prompt-Challenge-Operation-Cancel");
        let PromptChallengeOperationChallenge = document.getElementById("Prompt-Challenge-Operation-Challenge");
        let PromptChallengeSide = document.getElementById("Prompt-Challenge-Side");
        let PromptChallengeSideWhite = document.getElementById("Prompt-Challenge-Side-White");
        let PromptChallengeSideBlack = document.getElementById("Prompt-Challenge-Side-Black");
        let PromptChallengeError = document.getElementById("Prompt-Challenge-Error");
        let PromptChallengeOptionContainer = document.getElementById("Prompt-Challenge-Option-Container");

        PromptChallengeOperationCancel.addEventListener("click",()=>{
            PromptChallengePlayer.dataset.promptHidden = "true";
            PromptChallengeError.dataset.error = "0";
        });
        PromptChallengeOptionContainer.addEventListener("click", (ev)=>{
            if(ev.target.classList[0] === "Prompt-Challenge-Option"){
                let PromptChallengeChosen = document.querySelector(".Prompt-Challenge-Option[data-chosen=\"true\"]");
                PromptChallengeChosen.dataset.chosen = "false";
                ev.target.dataset.chosen = "true";
            }
        });
        PromptChallengeSideWhite.addEventListener("click", ()=> PromptChallengeSide.dataset.chosen = "White");
        PromptChallengeSideBlack.addEventListener("click", ()=> PromptChallengeSide.dataset.chosen = "Black");

        PromptChallengePlayer.addEventListener("submit", async (ev)=>{
            ev.preventDefault();
            const url = "PlayLocal";
            let formData = new FormData();
            formData.append("PlayerUsername", "Player #1");
            formData.append("Gamemode", document.querySelector(".Prompt-Challenge-Option[data-chosen=\"true\"]").innerText);
            formData.append("Side", PromptChallengeSide.dataset.chosen);
            formData.append("csrfmiddlewaretoken", csrftoken);
            
            try {
                const response = await fetch(url, {
                    method: "POST",
                    body: formData,
                    mode: 'same-origin' // Do not send CSRF token to another domain.
                });

                const textObject = await response.text();
                if(textObject !== "OK"){
                    PromptChallengeError.innerText = textObject;
                    PromptChallengeError.dataset.error = "1";
                }else{
                    window.location.replace("PlayLocal");
                }

            } catch (error) {
                PromptChallengeError.innerText = "Unable to send response!";
                PromptChallengeError.dataset.error = "1";
            }
        })

        /*Menu*/
        let MenuCollapseBTN = document.getElementById("Menu-CollapseBTN");
        let Menu = document.getElementById("Menu");
        let MenuOption1 = Menu.querySelector(".Menu-Option:nth-child(3)");
        let MenuOption2 = Menu.querySelector(".Menu-Option:nth-child(4)");
        let MenuOption3 = Menu.querySelector(".Menu-Option:nth-child(5)");
        let switchCollapse = [1,0];

        MenuCollapseBTN.addEventListener("click",()=>{
            Menu.dataset.collapse = switchCollapse[Menu.dataset.collapse];
        });
        MenuOption1.addEventListener("click", justTriggerChallenge);
        MenuOption2.addEventListener("click",justTriggerLogin);
        MenuOption3.addEventListener("click",justTriggerLogin);

        /*Functions*/
        function justTriggerLogin(ev){
            ev.preventDefault();
            PromptAuth.dataset.authType = "Login";
        }

        function justTriggerChallenge(ev){
            PromptChallengePlayer.dataset.promptHidden = "false";
            PromptChallengeHeader.innerText = "Please Choose Phantom Chess modes:";
            PromptChallengeOperationChallenge.value = "Play (Local)";
        }

        /*Draw*/
        let OfferDraw = document.querySelector("#Options button:nth-child(1)");
        let ProposeDraw = document.getElementById("ProposeDraw");
        let ProposeDraw_Propose = ProposeDraw.querySelector("button:nth-of-type(1)");
        let ProposeDraw_Cancel = ProposeDraw.querySelector("button:nth-of-type(2)");
        let AcceptDraw = document.getElementById("AcceptDraw");
        let AcceptDraw_Accept = AcceptDraw.querySelector("button:nth-of-type(1)");
        let AcceptDraw_Decline = AcceptDraw.querySelector("button:nth-of-type(2)");
        let ResultDraw = document.getElementById("ResultDraw");

        OfferDraw.addEventListener("click", ()=>ProposeDraw.dataset.promptHidden = "false");
        ProposeDraw_Propose.addEventListener("click", ()=>{
            ProposeDraw.dataset.promptHidden = "true";
            AcceptDraw.dataset.promptHidden = "false";
        });
        ProposeDraw_Cancel.addEventListener("click", ()=>ProposeDraw.dataset.promptHidden = "true");
        AcceptDraw_Accept.addEventListener("click", ()=>{
            AcceptDraw.dataset.promptHidden = "true";
            ResultDraw.dataset.promptHidden = "false";
            OfferDraw.disabled = true;
            Forfeit.disabled = true;
        });
        AcceptDraw_Decline.addEventListener("click", ()=>AcceptDraw.dataset.promptHidden = "true");

        /*Forfeit*/
        let Forfeit = document.querySelector("#Options button:nth-child(2)");
        let ForfeitMatch = document.getElementById("ForfeitMatch");
        let ForfeitMatch_Stay = ForfeitMatch.querySelector("button:nth-of-type(1)");
        let ForfeitMatch_Forfeit = ForfeitMatch.querySelector("button:nth-of-type(2)");
        let ResultForfeit = document.getElementById("ResultForfeit");
        let ResultForfeitWinner = ResultForfeit.querySelector("span");
        
        Forfeit.addEventListener("click", ()=>ForfeitMatch.dataset.promptHidden = "false");
        ForfeitMatch_Stay.addEventListener("click", ()=>ForfeitMatch.dataset.promptHidden = "true");
        ForfeitMatch_Forfeit.addEventListener("click", ()=>{
            ForfeitMatch.dataset.promptHidden = "true";
            ResultForfeitWinner.innerText = Player2Name + "Wins!";
            ResultForfeit.dataset.promptHidden = "false";
            OfferDraw.disabled = true;
            Forfeit.disabled = true;
        });

        /*Canvas*/
        React2Canvas(document.getElementById("ChessboardLayout"), "{{Side}}", "{% if Side == 'White' %}Black{% else %}White{% endif %}");
        



</script>
</html>