<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phantom Chess</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CommonVariables.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'Desktop - Menu.css' %}">
    <link rel="stylesheet" href="{% static 'Desktop - Prompt - Challenge.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'Desktop - Front Page.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'NotLoggedIn/Desktop - Prompt - Auth.css' %}?v=1.0">
    <link rel="shortcut icon" href="{% static 'Resources/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <form id="Prompt-Challenge-Player" data-prompt-hidden = "true">
        <span id="Prompt-Challenge-Header">Challenge Player #1 to a game of:</span>
        <div id="Prompt-Challenge-Gap1"></div>
        <div id="Prompt-Challenge-Option-Container">
            <div class="Prompt-Challenge-Option" data-chosen="true">Bullet 1 + 0</div>
            <div class="Prompt-Challenge-Option">Blitz 3 + 0</div>
            <div class="Prompt-Challenge-Option">Blitz 3 + 2</div>
            <div class="Prompt-Challenge-Option">Blitz 5 + 0</div>
            <div class="Prompt-Challenge-Option">Rapid 10 + 0</div>
            <div class="Prompt-Challenge-Option">Rapid 20 + 0</div>
        </div>
        <div id="Prompt-Challenge-Gap2"></div>
        <span id="Prompt-Challenge-SubHeader">Choose which chess side to be:</span>
        <div id="Prompt-Challenge-Side" data-chosen="White">
            <img src="{% static 'Resources/White Knight.png' %}" alt="" id="Prompt-Challenge-Side-White">
            <span id="Prompt-Challenge-Side-VS">VS</span>
            <img src="{% static 'Resources/Black Knight.png' %}" alt="" id="Prompt-Challenge-Side-Black">
        </div>
        <div id="Prompt-Challenge-Error" data-error="0" >Connection Error: Unable to reach server</div>
        <div id="Prompt-Challenge-Operation">
            <span id="Prompt-Challenge-Operation-Cancel">Cancel</span>
            <input type="submit" value="Challenge" id="Prompt-Challenge-Operation-Challenge">
        </div>
    </form>
    <form id="Prompt-Auth" data-auth-type="Hidden" data-auth-status="OK">
        <div id="Prompt-Auth-Tab">
            <div id="Tab-Login">Login</div>
            <div id="Tab-SignUp">Sign Up</div>
        </div>
        <span id="Prompt-Auth-Error1">Auth Error: Username doesn't exist!</span>
        <div id="Prompt-Auth-Gap1"></div>
        <div class="Prompt-Auth-Input"><span>Username</span><input type="text" name="PlayerUsername" id="PlayerUsername" placeholder="Enter Username Here" required></div>
        <div class="Prompt-Auth-Input"><span>Password</span><input type="password" name="PlayerPassword" id="PlayerPassword" placeholder="Enter Password Here" required autocomplete="on"></div>
        <span id="Prompt-Auth-Error2">Auth Error: Password is not the same!</span>
        <div id="ReenterPassword" class="Prompt-Auth-Input"><span>Reenter Password</span><input type="password" name="PlayerPasswordAgain" id="PlayerPasswordAgain" placeholder="Enter Password Again Here" disabled required autocomplete="on"></div>
        <div id="Prompt-Auth-Gap2">{% csrf_token %}</div>
        <div id="Prompt-Auth-Operation">
            <div id="Operation-Cancel">Cancel</div>
            <input type="submit" value="Login" id="Operation-Login">
        </div>
    </form>
    <div id="MainLayout">
        {% include "Desktop - Menu.html" %}
        <div id="MainLayout-Space1"></div>
        <div id="MainLayout-Space2"></div>
        <div id="MainLayout-Space3"></div>
        <div id="MainLayout-Space4"></div>
        <div id="Header">
            <span></span>
            <span>Login / Sign Up</span>
        </div>
        <div id="Match">
            <div id="Match-NewGame">New Game</div>
            <div id="Match-Players">Players</div>
            <div id="Match-Container" data-match="New Game">
                <div class="Match-Container-NewGame">
                    
                    <div class="Match-NewGame-Container-Mode">Bullet</div>
                    <div class="Match-Container-NewGame-Configurations">1 + 0</div>
                
                </div>
                <div class="Match-Container-NewGame">
                    
                    <div class="Match-NewGame-Container-Mode">Blitz</div>
                    <div class="Match-Container-NewGame-Configurations">3 + 0</div>
                    <div class="Match-Container-NewGame-Configurations">3 + 2</div>
                    <div class="Match-Container-NewGame-Configurations">5 + 0</div>
                
                </div>
                <div class="Match-Container-NewGame">
                    
                    <div class="Match-NewGame-Container-Mode">Rapid</div>
                    <div class="Match-Container-NewGame-Configurations">10 + 0</div>
                    <div class="Match-Container-NewGame-Configurations">20 + 0</div>
                
                </div>

            </div>
            <!--
            
        -->
        </div>
            <pre id="Instructions">Instructions:
Select New Game and select any yellow buttons for chess configurations
Select Players and then choose a player and click "Challenge" button to challenge them to a match</pre>
<canvas id="ChessboardLayout"></canvas>
        </div>
    </div>
    <div></div>
    <script src="{% static 'Render Chessboard.js' %}?v=1.0"></script>
    <script>
        /*csrf*/
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        /*Prompt Auth*/
        let PromptAuth = document.getElementById("Prompt-Auth");
        let authButton = document.querySelector("#Header span:nth-child(2)");
        let TabLogin = document.getElementById("Tab-Login");
        let TabSignUp = document.getElementById("Tab-SignUp");
        let OperationLogin = document.getElementById("Operation-Login");
        let OperationCancel = document.getElementById("Operation-Cancel");
        let PromptAuthError1 = document.getElementById("Prompt-Auth-Error1");
        let PromptAuthError2 = document.getElementById("Prompt-Auth-Error2");
        let PlayerPassword = document.getElementById("PlayerPassword");
        let PlayerPasswordAgain = document.getElementById("PlayerPasswordAgain");

        authButton.addEventListener("click", justTriggerLogin);
        TabLogin.addEventListener("click", ()=>{
            PromptAuth.dataset.authType = "Login";
            OperationLogin.value = "Login";
            PromptAuth.dataset.authStatus = "OK";
            PlayerPasswordAgain.disabled = true;
        });
        TabSignUp.addEventListener("click",()=>{
            PromptAuth.dataset.authType = "Signup";
            OperationLogin.value = "Sign Up";
            PromptAuth.dataset.authStatus = "OK";
            PlayerPasswordAgain.disabled = false;
        });
        OperationCancel.addEventListener("click", ()=>{
            PromptAuth.dataset.authType = "Hidden";
            PromptAuth.dataset.authStatus = "OK";
        });
        PromptAuth.addEventListener("submit", async (ev) => {
            ev.preventDefault();
            if(OperationLogin.value !== "Login" && PlayerPassword.value !== PlayerPasswordAgain.value){
                PromptAuthError1.innerText = "Auth Error: Password is not the same!";
                PromptAuth.dataset.authStatus = "ERROR2";
            }
            else{
                let formData = new FormData(document.getElementById("Prompt-Auth"), OperationLogin);
                const url = (OperationLogin.value === "Login")? "/AuthLogin" : "/AuthSignup";
                try {
                    const response = await fetch(url, {
                        method: "POST",
                        body: formData,
                        mode: 'same-origin' // Do not send CSRF token to another domain.
                        });
                        
                        const jsonObject = await response.json();
                        if(jsonObject.Status === "Auth Error: Error1"){
                            PromptAuthError1.innerText = jsonObject.Remark;
                            PromptAuth.dataset.authStatus = "ERROR1";
                        }else{
                            console.log(jsonObject.Remark);
                            window.location.replace("");
                        }
                    } catch (error) {
                        PromptAuthError1.innerText = "Unable to send response!";
                        PromptAuth.dataset.authStatus = "ERROR1";
                    }
                }
            });

        /*Menu*/
        let MenuCollapseBTN = document.getElementById("Menu-CollapseBTN");
        let Menu = document.getElementById("Menu");
        let MenuOption1 = Menu.querySelector(".Menu-Option:nth-child(3)");
        let MenuOption2 = Menu.querySelector(".Menu-Option:nth-child(4)");
        let MenuOption3 = Menu.querySelector(".Menu-Option:nth-child(5)");
        let switchCollapse = [1,0];

        MenuCollapseBTN.addEventListener("click",()=>{
            Menu.dataset.collapse = switchCollapse[Menu.dataset.collapse];
        });
        MenuOption1.addEventListener("click", justTriggerChallenge);
        MenuOption2.addEventListener("click",justTriggerLogin);
        MenuOption3.addEventListener("click",justTriggerLogin);

        /*Match New Game*/
        let MatchNewGame = document.getElementById("Match-NewGame");
        let MatchContainerNewGameConfigurations = document.querySelectorAll(".Match-Container-NewGame-Configurations") || [];

        MatchNewGame.addEventListener("click",()=> MatchContainer.dataset.match = "New Game");
        MatchContainerNewGameConfigurations.forEach(config=>config.addEventListener("click", justTriggerLogin));

        /*Match Players*/
        let MatchPlayers = document.getElementById("Match-Players");
        let MatchContainer = document.getElementById("Match-Container");

        MatchPlayers.addEventListener("click",()=>{
            MatchContainer.dataset.match = "Players";
        });

        /*Get Current Online Players list, if possible*/
        getOnlinePlayersList()

        /*Subscribe to Online Players List*/
        const PlayersOnlineSocket = new WebSocket(
            "ws://" +
            window.location.host +
            "/ws/OnlinePlayersList"
        );
        /*Send Player List redis query*/
        PlayersOnlineSocket.addEventListener("message", getOnlinePlayersList);

        /*Prompt Challenge*/
        let PromptChallengePlayer = document.getElementById("Prompt-Challenge-Player");
        let PromptChallengeHeader = document.getElementById("Prompt-Challenge-Header");
        let PromptChallengeOperationCancel = document.getElementById("Prompt-Challenge-Operation-Cancel");
        let PromptChallengeOperationChallenge = document.getElementById("Prompt-Challenge-Operation-Challenge");
        let PromptChallengeSide = document.getElementById("Prompt-Challenge-Side");
        let PromptChallengeSideWhite = document.getElementById("Prompt-Challenge-Side-White");
        let PromptChallengeSideBlack = document.getElementById("Prompt-Challenge-Side-Black");
        let PromptChallengeError = document.getElementById("Prompt-Challenge-Error");
        let PromptChallengeOptionContainer = document.getElementById("Prompt-Challenge-Option-Container");

        PromptChallengeOperationCancel.addEventListener("click",()=>{
            PromptChallengePlayer.dataset.promptHidden = "true";
            PromptChallengeError.dataset.error = "0";
        });
        PromptChallengeOptionContainer.addEventListener("click", (ev)=>{
            if(ev.target.classList[0] === "Prompt-Challenge-Option"){
                let PromptChallengeChosen = document.querySelector(".Prompt-Challenge-Option[data-chosen=\"true\"]");
                PromptChallengeChosen.dataset.chosen = "false";
                ev.target.dataset.chosen = "true";
            }
        });
        PromptChallengeSideWhite.addEventListener("click", ()=> PromptChallengeSide.dataset.chosen = "White");
        PromptChallengeSideBlack.addEventListener("click", ()=> PromptChallengeSide.dataset.chosen = "Black");

        PromptChallengePlayer.addEventListener("click", async (ev)=>{
            ev.preventDefault();
            const url = "PlayLocal";
            let formData = new FormData();
            formData.append("PlayerUsername", "Player #1");
            formData.append("Gamemode", document.querySelector(".Prompt-Challenge-Option[data-chosen=\"true\"]").innerText);
            formData.append("Side", PromptChallengeSide.dataset.chosen);
            formData.append("csrfmiddlewaretoken", csrftoken);
            
            try {
                const response = await fetch(url, {
                    method: "POST",
                    body: formData,
                    mode: 'same-origin' // Do not send CSRF token to another domain.
                });

                const textObject = await response.text();
                if(textObject !== "OK"){
                    PromptChallengeError.innerText = textObject;
                    PromptChallengeError.dataset.error = "1";
                }else{
                    window.location.replace("PlayLocal");
                }

            } catch (error) {
                PromptChallengeError.innerText = "Unable to send response!";
                PromptChallengeError.dataset.error = "1";
            }
        })

        /*Functions*/
        async function getOnlinePlayersList(ev){
            if(ev != undefined)
            console.log(JSON.parse(ev.data)["event"]);
            const url = "getPlayersList";
            try {
                const response = await fetch(url,{
                    method: "POST",
                    headers: {'X-CSRFToken': csrftoken},
                    mode: 'same-origin' // Do not send CSRF token to another domain.
                });

                const jsonObject = await response.json();
                const PlayerType1 = document.querySelectorAll(".Match-Players-Container-Available") || [];
                const PlayerType2 = document.querySelectorAll(".Match-Players-Container-Ingame") || [];
                PlayerType1.forEach(item=>MatchContainer.removeChild(item));
                PlayerType2.forEach(item=>MatchContainer.removeChild(item));
                Array.from(jsonObject["OnlinePlayers"] || []).forEach(player=>{
                    MatchContainer.appendChild(createElement(player["PlayerName"], player["Status"], player["Gamemode"], player["Side"]));
                });
                
            } catch (error) {
                console.log("PlayersOnlineSocket" + " " + error);
            }
        }

        function createElement(Username = "Unknown", Status = "Online", Gamemode = "None"){
            const Container = document.createElement("div");
            const SpanUsername = document.createElement("span");
            
            const SpanChallenge = document.createElement("span");

            SpanUsername.classList.add("Match-Players-Container-PlayerName");
            SpanChallenge.classList.add("Match-Players-Container-Challenge");

            SpanChallenge.addEventListener("click", justTriggerLogin);

            SpanUsername.innerText = Username;

            if(Status === "Online"){
                Container.classList.add("Match-Players-Container-Available");
                SpanChallenge.innerText = "Challenge";

                Container.appendChild(SpanUsername);
                Container.appendChild(SpanChallenge);
            }
            else if(Status === "InLobby"){
                Container.classList.add("Match-Players-Container-Ingame");
                const spanGamemode = document.createElement("span");
                spanGamemode.classList.add("Match-Players-Container-GameConfig");
                SpanChallenge.innerText = "Challenge - Join Lobby";

                spanGamemode.innerText = Gamemode;

                Container.appendChild(SpanUsername);
                Container.appendChild(spanGamemode);
                Container.appendChild(SpanChallenge);
            }
            return Container;
        }

        function justTriggerLogin(ev){
            ev.preventDefault();
            PromptAuth.dataset.authType = "Login";
        }

        function justTriggerChallenge(ev){
            PromptChallengePlayer.dataset.promptHidden = "false";
            PromptChallengeHeader.innerText = "Please Choose Phantom Chess modes:";
            PromptChallengeOperationChallenge.value = "Play (Local)";
        }

        

    </script>
</body>
</html>