html, body{
    /*Ensures no overflow when using 100dvh and 100dvw*/
    margin: 0;
    padding: 0;
}
body{
    /*Preparing for layers*/
    position: relative;
}

#MainLayout{
    display: grid;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--ColourLightBlue);

    /*Grid Config*/
    grid-template-areas: 
    "Menu Space1 Header           Header Header  Space3"
    "Menu Space1 ChessboardLayout Space2 Match   Space3"
    "Menu Space1 Instruction      Space2 Match   Space3"
    "Menu Space1 Space4           Space4 Space4  Space3";
    grid-template-rows: 
    minmax(0,0.5fr) minmax(0,6.4fr) minmax(0,1fr) minmax(0,0.1fr);
    grid-template-columns: 
    minmax(0,1.5fr) minmax(0, 0.1fr) minmax(0, 6.22fr) minmax(0, 0.1fr) minmax(0,2fr) minmax(0, 0.08fr);
}

#MainLayout:has(#Menu[data-collapse = "1"]){
    /*Grid Config*/
    grid-template-columns: minmax(0,0.65fr) minmax(0, 0.1fr) minmax(0, 6.22fr) minmax(0, 0.1fr) minmax(0,2fr) minmax(0, 0.08fr);
}

#MainLayout-Space1{
    display: grid;
    height: 100%;
    width: 100%;

    /*Grid Config*/
    grid-area: Space1;
    place-self: center center;
}

#MainLayout-Space2{
    display: grid;
    height: 100%;
    width: 100%;

    /*Grid Config*/
    grid-area: Space2;
    place-self: center center;
}

#MainLayout-Space3{
    display: grid;
    height: 100%;
    width: 100%;

    /*Grid Config*/
    grid-area: Space3;
    place-self: center center;
}

#MainLayout-Space4{
    display: grid;
    height: 100%;
    width: 100%;

    /*Grid Config*/
    grid-area: Space4;
    place-self: center center;
}

#Header{
    display: grid;
    width: 100%;
    height: 100%;

    /*Grid Config*/
    grid-template-areas: "Greetings LoginStatus";
    grid-template-rows: 100%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.1fr);
    grid-area: Header;
    place-self: center center;

    /*Font*/
    font-weight: bold;
    font-family: var(--FontFamilyMain);

    /*Text*/
    color: black;
}

#Header span{
    width: 100%;
    height: 100%;
}

#Header span:nth-child(1){
    /*Grid Config*/
    grid-area: Greetings;
    place-content: center start;

    /*Font*/
    font-size: var(--FontSizeApprox25PX);

    /*Text*/
    text-align: start;
}

#Header span:nth-child(2){
    /*Grid Config*/
    grid-area: LoginStatus;
    place-content: center end;

    /*Font*/
    font-size: var(--FontSizeApprox16PX);

    /*Text*/
    text-align: end;

    /*Cursor*/
    cursor: pointer;
}

#Header span:nth-child(2):hover{
    /*Text*/
    color: white;
}

#Match{
    display: grid;
    background-color: white;

    /*Grid Config*/
    grid-area: Match;
    grid-template-areas: 
    "NewGame Players"
    "MatchContainer MatchContainer";
    grid-template-rows: minmax(0,0.5fr) minmax(0,5.5fr);
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    row-gap: 15px;
    column-gap: 5px;

    /*Border*/
    border: var(--BorderCornflowerblueColoured);
    box-sizing: border-box;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox17PX);
}

#Match:has(#Match-Container[data-match="Players"]) #Match-Players{
    background-color: cornflowerblue;

    /*Border*/
    border: var(--BorderCornflowerblueColoured);

    /*Text*/
    color: white;
}

#Match:has(#Match-Container[data-match="Players"]) #Match-NewGame{
    background-color: var(--ColourLightBlue);

    /*Border*/
    border: var(--BorderBlackColoured);

    /*Text*/
    color: black;
}

#Match-NewGame{
    display: grid;
    height: 90%;
    width: 97%;
    background-color: cornflowerblue;

    /*Grid Config*/
    grid-area: NewGame;
    place-content: center center;
    place-self: center end;

    /*Text*/
    text-align: center;
    color: white;

    /*Border*/
    border: var(--BorderCornflowerblueColoured);
    box-sizing: border-box;

    /*Cursor*/
    cursor: pointer;
}

#Match-Players{
    display: grid;
    height: 90%;
    width: 97%;
    background-color: var(--ColourLightBlue);

    /*Grid Config*/
    grid-area: Players;
    place-content: center center;
    place-self: center start;

    /*Text*/
    text-align: center;
    
    /*Border*/
    border: var(--BorderBlackColoured);
    box-sizing: border-box;

    /*Cursor*/
    cursor: pointer;
}

#Match-Container[data-match="New Game"]{
    display: grid;
    height: 90%;
    width: 95%;

    /*Grid Config*/
    grid-template-rows: minmax(0,1.4fr) minmax(0,2.2fr) minmax(0,1.4fr);
    grid-template-columns: 100%;
    grid-area: MatchContainer;
    grid-column: span 2;
    place-self: start center;
    gap: 15px;
}

#Match-Container[data-match="Players"] .Match-Container-NewGame{
    display: none;
}

.Match-Container-NewGame{
    display: grid;
    width: 100%;
    height: 100%;

    /*Grid Config*/
    gap: 5px;
    place-self: center center;
}

.Match-Container-NewGame:nth-child(1){
    /*Grid Config*/
    grid-template-areas: 
    "Mode" 
    "Item1";
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 100%;
    gap: 5px;
    place-self: end center;
}

.Match-Container-NewGame:nth-child(2){
    /*Grid Config*/
    grid-template-areas: 
    "Mode Mode" 
    "Item1 Item2"
    "Item3 Item3";
    grid-template-rows: 1fr 1.5fr 1.5fr;
    grid-template-columns: 1fr 1fr;
    place-self: center center;
}

.Match-Container-NewGame:nth-child(3){
    /*Grid Config*/
    grid-template-areas: 
    "Mode Mode" 
    "Item1 Item2";
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 1fr 1fr;
    place-self: start center;
}

.Match-Container-NewGame-Configurations{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: beige;

    /*Grid Config*/
    place-self: center center;
    place-content: center center;

    /*Text*/
    text-align: center;

    /*Border*/
    border: var(--BorderRoseColoured);
    box-sizing: border-box;

    /*Font*/
    font-size: var(--FontSizeApprox23PX);

    /*Cursor*/
    cursor: pointer;
}

.Match-Container-NewGame:nth-child(1) .Match-Container-NewGame-Configurations:nth-child(2){
    width: 45%;
    height: 95%;

    /*Grid Config*/
    grid-area: Item1;
}

.Match-Container-NewGame:nth-child(2) .Match-Container-NewGame-Configurations:nth-child(2){
    width: 95%;
    height: 90%;
    
    /*Grid Config*/
    grid-area: Item1;
}

.Match-Container-NewGame:nth-child(2) .Match-Container-NewGame-Configurations:nth-child(3){
    width: 95%;
    height: 90%;

    /*Grid Config*/
    grid-area: Item2;
}

.Match-Container-NewGame:nth-child(2) .Match-Container-NewGame-Configurations:nth-child(4){
    width: 45%;
    height: 90%;

    /*Grid Config*/
    grid-area: Item3;
    
}

.Match-Container-NewGame:nth-child(3) .Match-Container-NewGame-Configurations:nth-child(2){
    width: 95%;
    height: 90%;

    /*Grid Config*/
    grid-area: Item1;
}

.Match-Container-NewGame:nth-child(3) .Match-Container-NewGame-Configurations:nth-child(3){
    width: 95%;
    height: 90%;

    /*Grid Config*/
    grid-area: Item2;
}

.Match-NewGame-Container-Mode{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: var(--ColourLightBlue);

    /*Grid Config*/
    grid-area: Mode;
    place-content: center center;
    
    /*Font*/
    font-size: var(--FontSizeApprox20PX);
    
    /*Text*/
    color: black;
    text-align: center;

    /*Border*/
    border: var(--BorderCornflowerblueColoured);
    box-sizing: border-box;
}

#Instructions{
    display: grid;
    width: 100%;
    height: 100%;

    /*Grid Config*/
    place-self: center center;
    place-content: center center;
    grid-area: Instruction;
    
    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox20PX);
    
    /*Text*/
    color: black;
    text-wrap: wrap;
    text-align: center;
    
    /*Border*/
    box-sizing: border-box;
    border: var(--BorderRoseColoured);
}

#ChessboardLayout{
    display: grid;
    min-width: 50%;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    aspect-ratio: 1 / 1;

    /*Grid Config*/
    grid-area: ChessboardLayout;
    place-self: center center;

    /*Scroll Behaviour*/
    overflow: hidden;
}

#Match-Container[data-match="Players"]{
    display: grid;
    width: 87%;
    height: 100%;

    /*Grid Config*/
    grid-column: span 2;
    grid-auto-rows: min-content;
    place-self: center center;
    gap: 18px;

    /*Scroll Behaviour*/
    overflow-y:scroll;
    scrollbar-width: none;
}

#Match-Container[data-match="New Game"] .Match-Players-Container-Available, 
#Match-Container[data-match="New Game"] .Match-Players-Container-Ingame{
    display: none;
}

.Match-Players-Container-Available{
    display: grid;
    width: 100%;
    height: 75pt;
    max-height: 100pt;
    background-color: var(--ColourPeach);

    /*Grid Config*/
    grid-template-rows: 1fr 1fr;
    place-self: start center;
    gap: 2px;
}

.Match-Players-Container-Ingame{
    display: grid;
    width: 100%;
    height: 145pt;
    background-color: var(--ColourPeach);

    /*Grid Config*/
    grid-template-rows: 1fr 1.7fr 1fr;
    place-self: start center;
    gap: 2px;
}

.Match-Players-Container-PlayerName{
    display: grid;
    background-color: var(--ColourLightBlue);

    /*Grid Config*/
    place-content: center center;

    /*Border*/
    border: var(--BorderCornflowerblueColoured);
    box-sizing: border-box;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox23PX);

    /*Text*/
    color: black;
    text-align: center;
}

.Match-Players-Container-Challenge{
    display: grid;
    background-color: beige;

    /*Grid Config*/
    place-content: center center;

    /*Border*/
    border: var(--BorderRoseColoured);
    box-sizing: border-box;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox21PX);

    /*Text*/
    color: black;
    text-align: center;

    /*Cursor*/
    cursor: pointer;
}

.Match-Players-Container-GameConfig{
    display: grid;
    width: 50%;
    height: 70%;
    background-color: var(--ColourRose);

    /*Grid Config*/
    place-content: center center;
    place-self: center center;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox21PX);

    /*Text*/
    text-align: center;
    color: white;

    /*Border*/
    box-sizing: border-box;
}