{% load static %}
<div id="Menu" data-collapse="0">
            <a href="/" id="Menu-Title">
                <img src="{% static 'Resources/White Rook.png' %}" alt="White Rook, Phantom Chess Logo" title="Phantom Chess Front Page">
                <span>Phantom Chess</span>
            </a>
            <div></div>
            <div class="Menu-Option">
                <img src="{% static 'Resources/White Knight.png' %}" alt="Play Local" title="Play Local">
                <span>Play Local</span>
            </div>
            <div class="Menu-Option">
                <img src="{% static 'Resources/Knight vs Knight.png' %}" alt="Play Multiplayer" title="Play Multiplayer">
                <span>Play Multiplayer</span>
            </div>
            <a href="ManageFriends" class="Menu-Option">
                <img src="{% static 'Resources/Manage Friends.png' %}" alt="Manage Friends" title="Manage Friends">
                <span>Manage Friends</span>
            </a>
            <div></div>
            <div id="Menu-CollapseBTN"></div>
        </div>