<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phantom Chess</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CommonVariables.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'Desktop - Menu.css' %}">
    <link rel="stylesheet" href="{% static 'Desktop - Prompt - Challenge.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'Desktop - Front Page.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'LoggedIn/Desktop - Prompt - Receive Challenges.css' %}?v=1.4">
    <link rel="shortcut icon" href="{% static 'Resources/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <form id="Prompt-Receive-Challenge" data-prompt-hidden = "true" data-dismiss="0">
        <span id="Prompt-Receive-Challenge-Header"><span>Player #2</span><span>wants to challenge you to</span></span>
        <span id="Prompt-Receive-Challenge-Config">Bullet 1 + 0</span>
        <div id="Prompt-Receive-Challenge-Gap1"></div>
        <div id="Prompt-Receive-Challenge-Operation">
            <span id="Prompt-Receive-Challenge-Operation-Decline">Decline</span>
            <input id="Prompt-Receive-Challenge-Operation-Accept" type="submit" value="Accept">
        </div>
    </form>
    <form id="Prompt-Challenge-Player" data-prompt-hidden = "true" data-target = "0">
        <span id="Prompt-Challenge-Header">Challenge Player #1 to a game of:</span>
        <div id="Prompt-Challenge-Gap1"></div>
        <div id="Prompt-Challenge-Option-Container">
            <div class="Prompt-Challenge-Option" data-chosen="true">Bullet 1 + 0</div>
            <div class="Prompt-Challenge-Option">Blitz 3 + 0</div>
            <div class="Prompt-Challenge-Option">Blitz 3 + 2</div>
            <div class="Prompt-Challenge-Option">Blitz 5 + 0</div>
            <div class="Prompt-Challenge-Option">Rapid 10 + 0</div>
            <div class="Prompt-Challenge-Option">Rapid 20 + 0</div>
        </div>
        <div id="Prompt-Challenge-Gap2"></div>
        <span id="Prompt-Challenge-SubHeader">Choose which chess side to be:</span>
        <div id="Prompt-Challenge-Side" data-chosen="White">
            <img src="{% static 'Resources/White Knight.png' %}" alt="" id="Prompt-Challenge-Side-White">
            <span id="Prompt-Challenge-Side-VS">VS</span>
            <img src="{% static 'Resources/Black Knight.png' %}" alt="" id="Prompt-Challenge-Side-Black">
        </div>
        <div id="Prompt-Challenge-Error" data-error="0" >Connection Error: Unable to reach server</div>
        <div id="Prompt-Challenge-Operation">
            <span id="Prompt-Challenge-Operation-Cancel">Cancel</span>
            <input type="submit" value="Challenge" id="Prompt-Challenge-Operation-Challenge">
        </div>
    </form>
    <div id="MainLayout">
        {% include "Desktop - Menu.html" %}
        <div id="MainLayout-Space1"></div>
        <div id="MainLayout-Space2"></div>
        <div id="MainLayout-Space3"></div>
        <div id="MainLayout-Space4"></div>
        <div id="Header">
            <span>Welcome, {{Username}}</span>
            <span>Logout</span>
        </div>
        <div id="Match">
            <div id="Match-NewGame">New Game</div>
            <div id="Match-Players">Players</div>
            <div id="Match-Container" data-match="New Game">
                <div class="Match-Container-NewGame">
                    
                    <div class="Match-NewGame-Container-Mode">Bullet</div>
                    <div class="Match-Container-NewGame-Configurations" data-selection="1">1 + 0</div>
                
                </div>
                <div class="Match-Container-NewGame">
                    
                    <div class="Match-NewGame-Container-Mode">Blitz</div>
                    <div class="Match-Container-NewGame-Configurations" data-selection="2">3 + 0</div>
                    <div class="Match-Container-NewGame-Configurations" data-selection="3">3 + 2</div>
                    <div class="Match-Container-NewGame-Configurations" data-selection="4">5 + 0</div>
                
                </div>
                <div class="Match-Container-NewGame">
                    
                    <div class="Match-NewGame-Container-Mode">Rapid</div>
                    <div class="Match-Container-NewGame-Configurations" data-selection="5">10 + 0</div>
                    <div class="Match-Container-NewGame-Configurations" data-selection="6">20 + 0</div>
                
                </div>

            </div>
            <!--
            
        -->
        </div>
            <pre id="Instructions">Instructions:
Select New Game and select any yellow buttons for chess configurations
Select Players and then choose a player and click "Challenge" button to challenge them to a match</pre>
<canvas id="ChessboardLayout"></canvas>
        </div>
    </div>
    <div></div>
    <script src="{% static 'Render Chessboard.js' %}?v=1.0"></script>
    <script>
        /*csrf*/
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        /*Web Socket*/
        let PlayerWebsocket = new WebSocket( //Connect to websocket dedicated to this player to listen to challenges sent by other players
            "ws://" +
            window.location.host +
            "/ws/Challenge/" + 
            "{{Username}}" +//This belongs to django template
            "/"
        )
        PlayerWebsocket.addEventListener("message",(ev)=>{
            console.log("Receive player challenges, accepts, and declines");
            const data = JSON.parse(ev.data);
            let event = data["event"];
            let sender = data["sender"];
            let gamemode = data["gamemode"];
            let senderside = data["senderside"];
            if (event === "Challenge Send"){
                document.addEventListener("click", checkOutOfBounds);
                PromptReceiveChallengeHeaderSpan.innerText = sender;
                PromptReceiveChallengeConfig.innerText = gamemode;
                PromptReceiveChallenge.dataset.promptHidden = "false";
            }else if (event === "Challenge Cancelled"){
                document.removeEventListener("click", checkOutOfBounds);
                PromptReceiveChallenge.dataset.dismiss = 0;
                PromptReceiveChallenge.dataset.promptHidden = "true";
            }else if (event === "Challenge Accepted"){
                window.location.replace("PlayMultiplayer");
            }
            console.log("PlayerWebSocket" + " " + event)
        });
        let OpponentPlayerWebSocket = null;
        let OpenLobbyWebsocket = null;

        /*Log Out*/
        let authButton = document.querySelector("#Header span:nth-child(2)");
        authButton.addEventListener("click", justTriggerLogout);

        /*Menu*/
        let MenuCollapseBTN = document.getElementById("Menu-CollapseBTN");
        let Menu = document.getElementById("Menu");
        let MenuOption1 = Menu.querySelector(".Menu-Option:nth-child(3)");
        let MenuOption2 = Menu.querySelector(".Menu-Option:nth-child(4)");
        let switchCollapse = [1,0];

        MenuCollapseBTN.addEventListener("click",()=>{
            Menu.dataset.collapse = switchCollapse[Menu.dataset.collapse];
        });

        MenuOption1.addEventListener("click", ()=>{
            PromptChallengePlayer.dataset.promptHidden = "false";
            PromptChallengeHeader.innerText = "Please Choose Phantom Chess modes:";
            PromptChallengeOperationChallenge.value = "Play (Local)";
            PromptChallengePlayer.dataset.target = 0;
            PromptChallengeError.dataset.error = "0";
        });

        MenuOption2.addEventListener("click", ()=>{
            PromptChallengePlayer.dataset.promptHidden = "false";
            PromptChallengeHeader.innerText = "Please Choose Phantom Chess modes:";
            PromptChallengeOperationChallenge.value = "Play";
            PromptChallengePlayer.dataset.target = 1;
            PromptChallengeError.dataset.error = "0";
        });

        /*Match New Game*/
        let MatchNewGame = document.getElementById("Match-NewGame");
        let MatchContainerNewGameConfigurations = document.querySelectorAll(".Match-Container-NewGame-Configurations") || [];

        MatchNewGame.addEventListener("click",()=> MatchContainer.dataset.match = "New Game");
        MatchContainerNewGameConfigurations.forEach(config=>{
            config.addEventListener("click", ()=>{
                //Trigger match prompt here
                let PromptChallengeSet = PromptChallengeOptionContainer.querySelector(".Prompt-Challenge-Option:nth-child(" + config.dataset.selection + ")")
                let PromptChallengeChosen = document.querySelector(".Prompt-Challenge-Option[data-chosen=\"true\"]");
                PromptChallengeChosen.dataset.chosen = "false";
                PromptChallengeSet.dataset.chosen = "true";
                PromptChallengePlayer.dataset.promptHidden = "false";
                PromptChallengeHeader.innerText = "Please Choose Phantom Chess modes:";
                PromptChallengeOperationChallenge.value = "Play";
                PromptChallengePlayer.dataset.target = 1; //global match
            });
        });

        /*Match Players*/
        let MatchPlayers = document.getElementById("Match-Players");
        let MatchContainer = document.getElementById("Match-Container");

        MatchPlayers.addEventListener("click",()=>{
            MatchContainer.dataset.match = "Players";
        });

        /*Subscribe to Online Players List*/
        const PlayersOnlineSocket = new WebSocket(
            "ws://" +
            window.location.host +
            "/ws/OnlinePlayersList"
        );
        /*Send Player List redis query*/
        PlayersOnlineSocket.addEventListener("message", async (ev)=>{
            console.log(JSON.parse(ev.data)["event"]);
            const url = "getPlayersList";
            try {
                const response = await fetch(url,{
                    method: "POST",
                    headers: {'X-CSRFToken': csrftoken},
                    mode: 'same-origin' // Do not send CSRF token to another domain.
                });

                const jsonObject = await response.json();
                const PlayerType1 = document.querySelectorAll(".Match-Players-Container-Available") || [];
                const PlayerType2 = document.querySelectorAll(".Match-Players-Container-Ingame") || [];
                PlayerType1.forEach(item=>MatchContainer.removeChild(item));
                PlayerType2.forEach(item=>MatchContainer.removeChild(item));
                Array.from(jsonObject["OnlinePlayers"] || []).forEach(player=>{
                    MatchContainer.appendChild(createElement(player["PlayerName"], player["Status"], player["Gamemode"], player["Side"]));
                });
                
            } catch (error) {
                console.log("PlayersOnlineSocket" + " " + error);
            }
        });

        /*Inform other players you're online*/
        PlayersOnlineSocket.addEventListener("open", async (ev) => {
            const url = "informOnline";
            try {
                const response = await fetch(url,{
                    method: "POST",
                    headers: {'X-CSRFToken': csrftoken},
                    mode: 'same-origin' // Do not send CSRF token to another domain.
                });
                textObject = await response.text();
                console.log(textObject);
                
            } catch (error) {
                console.log("informOnline" + " " + error);
                
            }
        });

        /*Prompt Challenge*/
        let PromptChallengePlayer = document.getElementById("Prompt-Challenge-Player");
        let PromptChallengeHeader = document.getElementById("Prompt-Challenge-Header");
        let PromptChallengeOperationCancel = document.getElementById("Prompt-Challenge-Operation-Cancel");
        let PromptChallengeOperationChallenge = document.getElementById("Prompt-Challenge-Operation-Challenge");
        let PromptChallengeSide = document.getElementById("Prompt-Challenge-Side");
        let PromptChallengeSideWhite = document.getElementById("Prompt-Challenge-Side-White");
        let PromptChallengeSideBlack = document.getElementById("Prompt-Challenge-Side-Black");
        let PromptChallengeError = document.getElementById("Prompt-Challenge-Error");
        let PromptChallengeAction = [challengeLocally, challengeGlobally, challengePlayer];
        let PromptChallengeOptionContainer = document.getElementById("Prompt-Challenge-Option-Container");

        PromptChallengeOptionContainer.addEventListener("click", (ev)=>{
            if(ev.target.classList[0] === "Prompt-Challenge-Option"){
                let PromptChallengeChosen = document.querySelector(".Prompt-Challenge-Option[data-chosen=\"true\"]");
                PromptChallengeChosen.dataset.chosen = "false";
                ev.target.dataset.chosen = "true";
            }
        });

        PromptChallengeSideWhite.addEventListener("click", ()=> PromptChallengeSide.dataset.chosen = "White");
        PromptChallengeSideBlack.addEventListener("click", ()=> PromptChallengeSide.dataset.chosen = "Black");

        PromptChallengePlayer.addEventListener("submit", async (ev)=>{
            ev.preventDefault();
            let PromptChallengeChosen = document.querySelector(".Prompt-Challenge-Option[data-chosen=\"true\"]");
            await PromptChallengeAction[PromptChallengePlayer.dataset.target](PromptChallengePlayer.Username, PromptChallengeChosen.innerText);
        });

        PromptChallengeOperationCancel.addEventListener("click",()=>{
            PromptChallengePlayer.dataset.promptHidden = "true";
            PromptChallengeError.dataset.error = "0";
            if (OpponentPlayerWebSocket instanceof WebSocket){
                //Inform the challenged player, the challenge's off
                OpponentPlayerWebSocket.send("Cancel");
            }
            if (OpenLobbyWebsocket instanceof WebSocket){
                OpenLobbyWebsocket.close(4001);
            }
        });

        /*Prompt Receive Challenge*/
        let PromptReceiveChallenge = document.getElementById("Prompt-Receive-Challenge");
        let PromptReceiveChallengeHeaderSpan = PromptReceiveChallenge.querySelector("#Prompt-Receive-Challenge-Header span");
        let PromptReceiveChallengeConfig = PromptReceiveChallenge.querySelector("#Prompt-Receive-Challenge-Config");
        let PromptReceiveChallengeOperationDecline = PromptReceiveChallenge.querySelector("#Prompt-Receive-Challenge-Operation-Decline");

        //Add event listener for cancel and challenge button
        PromptReceiveChallengeOperationDecline.addEventListener("click",()=>{
            //Hide the receive challenge prompt
            PromptReceiveChallenge.dataset.promptHidden = "true";
            PlayerWebsocket.send("Reject");
        });
        PromptReceiveChallenge.addEventListener("submit",(ev)=>{
            ev.preventDefault();
            PromptReceiveChallenge.dataset.promptHidden = "true";
            PlayerWebsocket.send("Accept");
        });

        /*Functions*/
        async function justTriggerLogout(){
            const url = "/AuthLogout";
            try {
                const response = await fetch(url, {
                    method: "POST",
                    headers: {'X-CSRFToken': csrftoken},
                    mode: 'same-origin' // Do not send CSRF token to another domain.
                });

                const jsonObject = await response.json();
                if (jsonObject.Status === "Logout Success"){
                    window.location.replace("");
                }
                console.log("Logout Remark: " + jsonObject.Remark);
                
            } catch (error) {
                console.log("justTriggerLogout" + " " + error);
            }
        }

        function createElement(Username = "Unknown", Status = "Online", Gamemode = "None", Side = "None"){
            const Container = document.createElement("div");
            const SpanUsername = document.createElement("span");
            
            const SpanChallenge = document.createElement("span");

            SpanUsername.classList.add("Match-Players-Container-PlayerName");
            SpanChallenge.classList.add("Match-Players-Container-Challenge");

            SpanUsername.innerText = Username;

            if(Status === "Online"){
                Container.classList.add("Match-Players-Container-Available");
                SpanChallenge.innerText = "Challenge";

                SpanChallenge.addEventListener("click", ()=>{
                    PromptChallengePlayer.Username = Username;
                    PromptChallengeError.dataset.error = "0";
                    PromptChallengePlayer.dataset.promptHidden = "false";
                    PromptChallengeHeader.innerText = "Challenge " + Username + " to a game of:";
                    PromptChallengeOperationChallenge.value = "Challenge";
                    PromptChallengePlayer.dataset.target = 2; // Challenge Player
                });

                Container.appendChild(SpanUsername);
                Container.appendChild(SpanChallenge);
            }
            else if(Status === "InLobby"){
                Container.classList.add("Match-Players-Container-Ingame");
                const spanGamemode = document.createElement("span");
                spanGamemode.classList.add("Match-Players-Container-GameConfig");
                SpanChallenge.innerText = "Challenge - Join Lobby";

                spanGamemode.innerText = Gamemode;

                SpanChallenge.addEventListener("click", async ()=>{
                    PromptChallengeError.dataset.error = "0";
                    const url = "joinLobby";
                    let formData = new FormData();
                    formData.append("HostSide", Side);
                    formData.append("PlayerHost", Username);
                    formData.append("Gamemode", Gamemode);
                    formData.append("csrfmiddlewaretoken", csrftoken);
                    try {
                        const response = await fetch(url, {
                            method: "POST",
                            body: formData,
                            mode: 'same-origin' // Do not send CSRF token to another domain.
                        });
                        
                        const textObject = await response.text();
                        console.log("Join Lobby: " + textObject);
                        if(textObject === "Match Found!"){
                            window.location.replace("PlayMultiplayer");
                        }
                    
                    } catch (error) {
                        console.log("Join Lobby: " + error);
                    }
                });

                Container.appendChild(SpanUsername);
                Container.appendChild(spanGamemode);
                Container.appendChild(SpanChallenge);
            }
            return Container;
        }

        async function challengeLocally(){
            const url = "PlayLocal";
            let formData = new FormData();
            formData.append("PlayerUsername", "Player #1");
            formData.append("Gamemode", document.querySelector(".Prompt-Challenge-Option[data-chosen=\"true\"]").innerText);
            formData.append("Side", PromptChallengeSide.dataset.chosen);
            formData.append("csrfmiddlewaretoken", csrftoken);
            
            try {
                const response = await fetch(url, {
                    method: "POST",
                    body: formData,
                    mode: 'same-origin' // Do not send CSRF token to another domain.
                });

                const textObject = await response.text();
                if(textObject !== "OK"){
                    PromptChallengeError.innerText = textObject;
                    PromptChallengeError.dataset.error = "1";
                }else{
                    window.location.replace("PlayLocal");
                }

            } catch (error) {
                PromptChallengeError.innerText = "Unable to send response!";
                PromptChallengeError.dataset.error = "1";
            }
        }

        async function challengeGlobally(){
            const url = "searchOpponent";
            let formData = new FormData();
            formData.append("Gamemode", document.querySelector(".Prompt-Challenge-Option[data-chosen=\"true\"]").innerText);
            formData.append("Side", PromptChallengeSide.dataset.chosen);
            formData.append("csrfmiddlewaretoken", csrftoken);
            try {
                const response = await fetch(url, {
                    method: "POST",
                    body: formData,
                    mode: 'same-origin' // Do not send CSRF token to another domain.
                });

                const textObject = await response.text();
                if(textObject === "Match Found!"){
                    PromptChallengeError.innerText = textObject;
                    PromptChallengeError.dataset.error = "2";
                    window.location.replace("PlayMultiplayer");
                } else if(textObject === "Open Lobby"){
                    PromptChallengeError.innerText = textObject;
                    PromptChallengeError.dataset.error = "2";
                    //Open Lobby Web Socket first
                    OpenLobbyWebsocket = new WebSocket( //Connect to websocket dedicated to this player to listen to challenges sent by other players
                        "ws://" +
                        window.location.host +
                        "/ws/Matchmaking/" + 
                        "{{Username}}" + //This belongs to django template
                        "/");
                    OpenLobbyWebsocket.addEventListener("message",(ev)=>{
                            const data = JSON.parse(ev.data);
                            PromptChallengeError.innerText = data["event"] + ": " + data["sender"];
                            PromptChallengeError.dataset.error = "2";
                            window.location.replace("PlayMultiplayer");
                        });
                    //Open lobby
                    openLobby();
                }
                else{
                    PromptChallengeError.innerText = textObject;
                    PromptChallengeError.dataset.error = "1";
                }
            } catch (error) {
                PromptChallengeError.innerText = "Unable to send response!" + " " + error;
                PromptChallengeError.dataset.error = "1";
            }
        }

        async function openLobby() {
            const url = "openLobby";
            let formData = new FormData();
            formData.append("Gamemode", document.querySelector(".Prompt-Challenge-Option[data-chosen=\"true\"]").innerText);
            formData.append("Side", PromptChallengeSide.dataset.chosen);
            formData.append("csrfmiddlewaretoken", csrftoken);

            try {
                const response = await fetch(url, {
                    method: "POST",
                    body: formData,
                    mode: 'same-origin' // Do not send CSRF token to another domain.
                });

                const textObject = await response.text();
                if(textObject !== "Lobby Opened"){
                    PromptChallengeError.innerText = textObject;
                    PromptChallengeError.dataset.error = "1";
                }
            } catch (error) {
                PromptChallengeError.innerText = textObject;
                PromptChallengeError.dataset.error = "1";
            }
        }

        async function challengePlayer(Username, Gamemode){
            console.log("challengePlayer");
            OpponentPlayerWebSocket = new WebSocket( //Connect to websocket dedicated to this player to listen to challenges sent by other players
                "ws://" +
                window.location.host +
                "/ws/Challenge/" + 
                Username + "/"
            );

            OpponentPlayerWebSocket.addEventListener("message", (ev)=>{
                const data = JSON.parse(ev.data);
                if (data["event"] === "Challenge Cancelled"){
                    //Inform challenge rejection
                    PromptChallengeError.innerText = "Challenge Rejected by " + data["sender"];
                    PromptChallengeError.dataset.error = "1";
                }else if (data["event"] === "Challenge Accepted"){
                    //Inform challenge aceptance
                    PromptChallengeError.innerText = "Challenge Accepted by " + data["sender"];
                    PromptChallengeError.dataset.error = "2";
                    window.location.replace("PlayMultiplayer");
                }
            });

            OpponentPlayerWebSocket.addEventListener("open", (ev)=>{
                console.log("OpponentPlayerWebSocket opened!");
                
                OpponentPlayerWebSocket.send(JSON.stringify({
                "Gamemode": Gamemode,
                "SenderSide": PromptChallengeSide.dataset.chosen
            }));
            });
        }

        function checkOutOfBounds(ev){
            if(!PromptReceiveChallenge.contains(ev.target)){
                PromptReceiveChallenge.dataset.dismiss = 1;
            }
        }
    </script>
</body>
</html>