html, body{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}

#MainLayout{
    display: grid;
    background-color: var(--ColourLightBlue);
    height: 100dvh;
    width: 100dvw;
    grid-template-areas: 
    "Menu Space1 Header           Header Header  Space3"
    "Menu Space1 ChessboardLayout Space2 Match   Space3"
    "Menu Space1 Instruction      Space2 Match   Space3"
    "Menu Space1 Space4           Space4 Space4  Space3";
    grid-template-rows: minmax(0,0.5fr) minmax(0,6.4fr) minmax(0,1fr) minmax(0,0.1fr);
    grid-template-columns: minmax(0,1.5fr) minmax(0, 0.1fr) minmax(0, 6.22fr) minmax(0, 0.1fr) minmax(0,2fr) minmax(0, 0.08fr);
}

#MainLayout:has(#Menu[data-collapse = "1"]){
    grid-template-columns: minmax(0,0.65fr) minmax(0, 0.1fr) minmax(0, 6.22fr) minmax(0, 0.1fr) minmax(0,2fr) minmax(0, 0.08fr);
}

#MainLayout-Space1{
    display: grid;
    height: 100%;
    width: 100%;
    grid-area: Space1;
    place-self: center center;
}

#MainLayout-Space2{
    display: grid;
    height: 100%;
    width: 100%;
    grid-area: Space2;
    place-self: center center;
}

#MainLayout-Space3{
    display: grid;
    height: 100%;
    width: 100%;
    grid-area: Space3;
    place-self: center center;
}

#MainLayout-Space4{
    display: grid;
    height: 100%;
    width: 100%;
    grid-area: Space4;
    place-self: center;
}

#Header{
    display: grid;
    grid-template-areas: "Greetings LoginStatus";
    grid-template-rows: 100%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.1fr);
    grid-area: Header;
    place-self: center center;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
    font-family: var(--FontFamilyMain);
}

#Header span{
    width: 100%;
    height: 100%;
}

#Header span:nth-child(1){
    grid-area: Greetings;
    text-align: start;
    place-content: center start;
    font-size: var(--FontSizeApprox25PX);
}

#Header span:nth-child(2){
    grid-area: LoginStatus;
    text-align: end;
    place-content: center end;
    font-size: var(--FontSizeApprox16PX);
    cursor: pointer;
}

#Header span:nth-child(2):hover{
    color: white;
}

#Match{
    display: grid;
    grid-area: Match;
    grid-template-areas: 
    "NewGame Players"
    "MatchContainer MatchContainer";
    grid-template-rows: minmax(0,0.5fr) minmax(0,5.5fr);
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    row-gap: 15px;
    column-gap: 5px;
    background-color: white;
    border: var(--BorderCornflowerblueColoured);
    box-sizing: border-box;
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox17PX);
}

#Match:has(#Match-Container[data-match="Players"]) #Match-Players{
    background-color: cornflowerblue;
    border: var(--BorderCornflowerblueColoured);
    color: white;
}

#Match:has(#Match-Container[data-match="Players"]) #Match-NewGame{
    background-color: var(--ColourLightBlue);
    border: 2pt solid black;
    color: black;
}

#Match-NewGame{
    display: grid;
    grid-area: NewGame;
    place-content: center center;
    place-self: center end;
    text-align: center;
    height: 90%;
    width: 97%;
    background-color: cornflowerblue;
    border: var(--BorderCornflowerblueColoured);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
}

#Match-Players{
    display: grid;
    grid-area: Players;
    place-content: center center;
    place-self: center start;
    text-align: center;
    height: 90%;
    width: 97%;
    background-color: var(--ColourLightBlue);
    border: 2pt solid black;
    box-sizing: border-box;
    cursor: pointer;
}
#Match-Container[data-match="New Game"]{
    display: grid;
    grid-template-rows: minmax(0,1.4fr) minmax(0,2.2fr) minmax(0,1.4fr);
    grid-template-columns: 100%;
    grid-area: MatchContainer;
    grid-column: span 2;
    height: 90%;
    width: 95%;
    place-self: start center;
    gap: 15px;
}

#Match-Container[data-match="Players"] .Match-Container-NewGame{
    display: none;
}

.Match-Container-NewGame{
    display: grid;
    gap: 5px;
    width: 100%;
    height: 100%;
    place-self: center center;
}

.Match-Container-NewGame:nth-child(1){
    grid-template-areas: 
    "Mode" 
    "Item1";
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 100%;
    gap: 5px;
    place-self: end center;
}

.Match-Container-NewGame:nth-child(2){
    grid-template-areas: 
    "Mode Mode" 
    "Item1 Item2"
    "Item3 Item3"
    ;
    grid-template-rows: 1fr 1.5fr 1.5fr;
    grid-template-columns: 1fr 1fr;
    place-self: center center;
}

.Match-Container-NewGame:nth-child(3){
    grid-template-areas: 
    "Mode Mode" 
    "Item1 Item2";
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 1fr 1fr;
    place-self: start center;
}

.Match-Container-NewGame-Configurations{
    display: grid;
    background-color: beige;
    place-self: center center;
    place-content: center center;
    text-align: center;
    width: 100%;
    height: 100%;
    border: var(--BorderRoseColoured);
    box-sizing: border-box;
    font-size: var(--FontSizeApprox23PX);
    cursor: pointer;
}

.Match-Container-NewGame:nth-child(1) .Match-Container-NewGame-Configurations:nth-child(2){
    grid-area: Item1;
    width: 45%;
    height: 95%;
}

.Match-Container-NewGame:nth-child(2) .Match-Container-NewGame-Configurations:nth-child(2){
    grid-area: Item1;
    width: 95%;
    height: 90%;
}
.Match-Container-NewGame:nth-child(2) .Match-Container-NewGame-Configurations:nth-child(3){
    grid-area: Item2;
    width: 95%;
    height: 90%;
}
.Match-Container-NewGame:nth-child(2) .Match-Container-NewGame-Configurations:nth-child(4){
    grid-area: Item3;
    width: 45%;
    height: 90%;
}

.Match-Container-NewGame:nth-child(3) .Match-Container-NewGame-Configurations:nth-child(2){
    grid-area: Item1;
    width: 95%;
    height: 90%;
}

.Match-Container-NewGame:nth-child(3) .Match-Container-NewGame-Configurations:nth-child(3){
    grid-area: Item2;
    width: 95%;
    height: 90%;
}

.Match-NewGame-Container-Mode{
    grid-area: Mode;
    display: grid;
    background-color: var(--ColourLightBlue);
    color: black;
    border: var(--BorderCornflowerblueColoured);
    box-sizing: border-box;
    text-align: center;
    place-content: center center;
    font-size: var(--FontSizeApprox20PX);
    height: 100%;
    width: 100%;
}

#Instructions{
    display: grid;
    place-self: center center;
    place-content: center center;
    grid-area: Instruction;
    width: 100%;
    height: 100%;
    font-family: var(--FontFamilyMain);
    color: black;
    text-wrap: wrap;
    font-size: var(--FontSizeApprox20PX);
    text-align: center;
    box-sizing: border-box;
    border: var(--BorderRoseColoured);
}

#ChessboardLayout{
    display: grid;
    grid-area: ChessboardLayout;
    min-width: 50%;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    aspect-ratio: 1 / 1;
    place-self: center center;
    overflow: hidden;
}

#Match-Container[data-match="Players"]{
    display: grid;
    grid-column: span 2;
    /*grid-template-rows: minmax(0, 0.6fr) minmax(0, 1.2fr) minmax(0, 0.6fr) minmax(0, 1.2fr);*/
    grid-auto-rows: min-content;
    width: 87%;
    height: 100%;
    place-self: center center;
    /*background-color: blue;*/
    gap: 18px;
    overflow-y:scroll;
    scrollbar-width: none;
}

#Match-Container[data-match="New Game"] .Match-Players-Container-Available, 
#Match-Container[data-match="New Game"] .Match-Players-Container-Ingame{
    display: none;
}

.Match-Players-Container-Available{
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-self: start center;
    gap: 2px;
    width: 100%;
    height: 75pt;
    background-color: var(--ColourPeach);
    max-height: 100pt;
}

.Match-Players-Container-Ingame{
    display: grid;
    grid-template-rows: 1fr 1.7fr 1fr;
    place-self: start center;
    gap: 2px;
    width: 100%;
    height: 145pt;
    background-color: var(--ColourPeach);
}

.Match-Players-Container-PlayerName{
    display: grid;
    background-color: var(--ColourLightBlue);
    border: var(--BorderCornflowerblueColoured);
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox23PX);
    color: black;
    box-sizing: border-box;
    text-align: center;
    place-content: center center;
}

.Match-Players-Container-Challenge{
    display: grid;
    background-color: beige;
    border: var(--BorderRoseColoured);
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox21PX);
    color: black;
    box-sizing: border-box;
    text-align: center;
    place-content: center center;
    cursor: pointer;
}

.Match-Players-Container-GameConfig{
    display: grid;
    width: 50%;
    height: 70%;
    background-color: var(--ColourRose);
    text-align: center;
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox21PX);
    color: white;
    box-sizing: border-box;
    text-align: center;
    place-content: center center;
    place-self: center center;
}