#Prompt-Auth{
    display: grid;
    position: fixed ;
    background-color: white;
    border: var(--BorderCornflowerblueColoured);
    box-sizing: border-box;
    height: fit-content;
    width: 40dvw;
    z-index: 2;
    /*Prompt-Auth-Tab Prompt-Auth-Input-Container Prompt-Auth-Operation*/
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-template-columns: 100%;
    padding-top: 1dvh;
    padding-bottom: 2.2dvh;
    gap: 1dvh;
}

#Prompt-Auth[data-auth-type="Hidden"]{
    display: none;
    background-color: green;
}

#Prompt-Auth[data-auth-type="Login"]{
    top: calc((100dvh - 37.8dvh) / 2);
    left: calc((100dvw - 40dvw) / 2);
}

#Prompt-Auth[data-auth-type="Signup"]{
    top: calc((100dvh - (37.8dvh + 7dvh)) / 2);
    left: calc((100dvw - 40dvw) / 2);
}

#Prompt-Auth[data-auth-type="Signup"][data-auth-status="ERROR"]{
    top: calc((100dvh - (37.8dvh + 7dvh + 10dvh + 2dvh)) / 2);
    left: calc((100dvw - 40dvw) / 2);
}

#Prompt-Auth[data-auth-type="Signup"][data-auth-status="ERROR1"], #Prompt-Auth[data-auth-type="Signup"][data-auth-status="ERROR2"]{
    top: calc((100dvh - (37.8dvh + 7dvh + 5dvh + 1dvh)) / 2);
    left: calc((100dvw - 40dvw) / 2);
}

#Prompt-Auth[data-auth-type="Login"][data-auth-status="ERROR1"]{
    top: calc((100dvh - (37.8dvh + 5dvh + 1dvh)) / 2);
    left: calc((100dvw - 40dvw) / 2);
}

#Prompt-Auth-Tab{
    display: grid;
    background-color: blanchedalmond;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 100%;
    width: 14dvw;
    height: 6dvh;
    place-self: center center;
}

#Tab-Login{
    display: grid;
    background-color: cornflowerblue;
    color: white;
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox25PX);
    text-align: center;
    place-self: center end;
    place-content: center center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
#Tab-SignUp{
    display: grid;
    background-color: var(--ColourDandelion);
    color: black;
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox25PX);
    text-align: center;
    place-self: center start;
    place-content: center center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#Prompt-Auth[data-auth-status="ERROR"] #Prompt-Auth-Error1, #Prompt-Auth[data-auth-status="ERROR1"] #Prompt-Auth-Error1{
    display: grid;
    background-color: var(--ColourRose);
    border: var(--BorderBeigeColoured);
    box-sizing: border-box;
    place-content: center center;
    text-align: center;
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox20PX);
    color: beige;
    font-weight: bold;
    place-self: center center;
    width: 36.5dvw;
    height: 5dvh;
    border-radius: 10px 10px 10px 10px;
}

#Prompt-Auth #Prompt-Auth-Error1{
    display: none;
    width: 0;
    height: 0;
}

#Prompt-Auth[data-auth-type="Signup"][data-auth-status="ERROR"] #Prompt-Auth-Error2, #Prompt-Auth[data-auth-status="ERROR2"] #Prompt-Auth-Error2{
    display: grid;
    background-color: var(--ColourRose);
    border: var(--BorderBeigeColoured);
    box-sizing: border-box;
    place-content: center center;
    text-align: center;
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox20PX);
    color: beige;
    font-weight: bold;
    place-self: center center;
    width: 36.5dvw;
    height: 5dvh;
    border-radius: 10px 10px 10px 10px;
}

#Prompt-Auth #Prompt-Auth-Error2{
    display: none;
    width: 0;
    height: 0;
}

#Prompt-Auth[data-auth-type="Login"] #ReenterPassword{
    display: none;
    width: 0;
    height: 0;
}

.Prompt-Auth-Input{
    display: grid;
    grid-template-rows: 100%;
    place-self: center center;
    text-align: center;
    place-content: center center;
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox25PX);
    border-radius: 10px 10px 10px 10px;
    border: var(--BorderRoseColoured);
    width: 36.5dvw;
    height: 7dvh;
    box-sizing: border-box;
}

#Prompt-Auth[data-auth-type="Login"] .Prompt-Auth-Input{
    color: white;
    background-color: cornflowerblue;
    grid-template-columns: minmax(0, 0.8fr) minmax(0, 2fr);
}

#Prompt-Auth[data-auth-type="Signup"] .Prompt-Auth-Input{
    color: black;
    background-color: var(--ColourDandelion);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.8fr);
}

.Prompt-Auth-Input span{
    place-self: center center;
    text-align: center;
}

#PlayerUsername, #PlayerPassword, #PlayerPasswordAgain{
    place-self: center start;
    border: none;
    border-radius:5px 5px 5px 5px;
    font-style: italic;
    font-size: 18px;
    text-align: center;
}

#Prompt-Auth[data-auth-type="Login"] #PlayerUsername{
    width: 96%;
    height: 62%;
}

#Prompt-Auth[data-auth-type="Signup"] #PlayerUsername{
    width: 96%;
    height: 62%;
}

#Prompt-Auth[data-auth-type="Login"] #PlayerPassword{
    width: 96%;
    height: 62%;
}

#Prompt-Auth[data-auth-type="Signup"] #PlayerPassword{
    width: 96%;
    height: 62%;
}

#Prompt-Auth[data-auth-type="Login"] #PlayerPasswordAgain{
    display: none;
    width: 0;
    height: 0;
}

#Prompt-Auth[data-auth-type="Signup"] #PlayerPasswordAgain{
    width: 96%;
    height: 62%;
}

#Prompt-Auth[data-auth-status="OK"] #Prompt-Auth-Gap1{
    display: grid;
    background-color: transparent;
    width: 46.5dvw;
    height: 0.5dvh;
    place-self: center center;
}

#Prompt-Auth[data-auth-status="ERROR"] #Prompt-Auth-Gap1, #Prompt-Auth[data-auth-status="ERROR1"] #Prompt-Auth-Gap1{
    display: none;
    background-color: transparent;
    width: 0;
    height: 0;
    place-self: center center;
}

#Prompt-Auth-Gap2{
    display: grid;
    background-color: transparent;
    width: 46.5dvw;
    height: 1.8dvh;
    place-self: center center;
}

#Prompt-Auth-Operation{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 100%;
    width: 16.5dvw;
    height: 6dvh;
    place-self: center center;
}

#Prompt-Auth #Operation-Cancel{
    display: grid;
    background-color: var(--ColourGray);
    height: 100%;
    width: 90%;
    place-self: center center;
    text-align: center;
    place-content: center center;
    color: white;
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox25PX);
    cursor: pointer;
}
#Prompt-Auth #Operation-Login{
    display: grid;
    height: 100%;
    width: 90%;
    place-self: center center;
    text-align: center;
    place-content: center center;
    font-family: var(--FontFamilyMain);
    font-weight: bold;
    font-size: var(--FontSizeApprox25PX);
    cursor: pointer;
    border: none;
}
#Prompt-Auth[data-auth-type="Login"] #Operation-Login{
    background-color: cornflowerblue;
    color: white;
}
#Prompt-Auth[data-auth-type="Signup"] #Operation-Login{
    background-color: var(--ColourDandelion);
    color: black;
}