#Prompt-Receive-Challenge[data-prompt-hidden = "true"]{
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}
#Prompt-Receive-Challenge[data-prompt-hidden = "false"]{
    display: grid;
}
#Prompt-Receive-Challenge[data-dismiss="0"]{
    width: 32dvw;
    height: fit-content;
    background-color: beige;

    /*Grid Config*/
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    gap: 1.3dvh;
    
    /*Positioning*/
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /*Border*/
    box-sizing: border-box;
    border: var(--BorderRoseColoured);
    border-radius: 30px 30px 30px 30px;

    /*Padding*/
    padding-top: 1dvh;
    padding-bottom: 1.5dvh;
}

#Prompt-Receive-Challenge[data-dismiss="1"]{
    width: fit-content;
    height: 8.5dvh;
    background-color: beige;

    /*Grid Config*/
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    grid-template-rows: 100%;
    gap: 2dvh;
    
    /*Positioning*/
    position: fixed;
    z-index: 2;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
    
    /*Border*/
    box-sizing: border-box;
    border: var(--BorderRoseColoured);
    border-radius: 20px 20px 20px 20px;

    /*Padding*/
    padding-top: 0.5dvh;
    padding-bottom: 0.5dvh;
    padding-left: 0.8dvw;
    padding-right: 0.8dvw;
}

#Prompt-Receive-Challenge[data-dismiss="0"] #Prompt-Receive-Challenge-Header{
    display: grid;

    /*Grid Config*/
    place-content: center center;
    place-self: center center;
    grid-auto-flow: column;
    gap: 0.5dvw;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox30PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
}

#Prompt-Receive-Challenge[data-dismiss="1"] #Prompt-Receive-Challenge-Header{
    display: grid;
    width: max-content;

    /*Grid Config*/
    place-content: center center;
    place-self: center center;
    grid-auto-flow: column;
    grid-template-rows: 100%;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox30PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
}

#Prompt-Receive-Challenge[data-dismiss="1"] #Prompt-Receive-Challenge-Header span:nth-child(2){
    display: none;
}
#Prompt-Receive-Challenge[data-dismiss="1"] #Prompt-Receive-Challenge-Header span:nth-child(1){
    display: grid;
    width: fit-content;
}

#Prompt-Receive-Challenge[data-dismiss="0"] #Prompt-Receive-Challenge-Config{
    display: grid;
    background-color: cornflowerblue;
    height: 7dvh;
    width: 9dvw;

    /*Grid Config*/
    place-content: center center;
    place-self: center center;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;
}

#Prompt-Receive-Challenge[data-dismiss="1"] #Prompt-Receive-Challenge-Config{
    display: grid;
    background-color: cornflowerblue;
    height: 100%;
    width: 9dvw;

    /*Grid Config*/
    place-content: center center;
    place-self: center center;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;
}

#Prompt-Receive-Challenge[data-dismiss="0"] #Prompt-Receive-Challenge-Gap1{
    display: grid;
    width: 1dvw;
    height: 0.5dvh;

    /*Grid Config*/
    place-content: center center;
    place-self: center center;
}

#Prompt-Receive-Challenge[data-dismiss="1"] #Prompt-Receive-Challenge-Gap1{
    display: none;
    width: 0dvw;
    height: 0.5dvh;

    /*Grid Config*/
    place-content: center center;
    place-self: center center;
}

#Prompt-Receive-Challenge[data-dismiss="0"] #Prompt-Receive-Challenge-Operation{
    display: grid;
    width: 83%;
    height: 8dvh;

    /*Grid Config*/
    place-self: center center;
    grid-auto-flow: column;
    grid-template-rows: 100%;
    gap: 1.5dvw;
}

#Prompt-Receive-Challenge[data-dismiss="1"] #Prompt-Receive-Challenge-Operation{
    display: grid;
    width: 25dvw;
    height: 100%;

    /*Grid Config*/
    place-self: center center;
    grid-auto-flow: column;
    grid-template-rows: 100%;
    gap: 1dvw;
}

#Prompt-Receive-Challenge[data-dismiss="0"] #Prompt-Receive-Challenge-Operation-Decline{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--ColourGray);

    /*Grid Config*/
    place-content: center center;
    place-self: center center;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;

    /*Cursor Config*/
    cursor: pointer;
}

#Prompt-Receive-Challenge[data-dismiss="1"] #Prompt-Receive-Challenge-Operation-Decline{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--ColourGray);

    /*Grid Config*/
    place-content: center center;
    place-self: center center;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;

    /*Cursor Config*/
    cursor: pointer;
}

#Prompt-Receive-Challenge[data-dismiss="0"] #Prompt-Receive-Challenge-Operation-Accept{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--ColourRose);

    /*Grid Config*/
    place-content: center center;
    place-self: center center;
    grid-auto-columns: min-content;

    /*Border*/
    border: none;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;

    /*Cursor Config*/
    cursor: pointer;
}

#Prompt-Receive-Challenge[data-dismiss="1"] #Prompt-Receive-Challenge-Operation-Accept{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--ColourRose);

    /*Grid Config*/
    place-content: center center;
    place-self: center center;
    grid-auto-columns: min-content;

    /*Border*/
    border: none;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;

    /*Cursor Config*/
    cursor: pointer;
}