html, body{
    /*Ensures no overflow when using 100dvh and 100dvw*/
    margin: 0;
    padding: 0;
}
body{
    /*Preparing for layers*/
    position: relative;
}

#MainLayout{
    display: grid;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--ColourLightBlue);

    /*Grid Config*/
    grid-template-areas: 
    "Menu Header"
    "Menu ManageFriends";
    grid-template-rows: 
    minmax(0,1fr) minmax(0,16fr);
    grid-template-columns: 
    minmax(0,1fr) minmax(0,6fr);
    column-gap: 1dvw;

    /*Padding*/
    padding-right: 1dvw;

    /*Border*/
    box-sizing: border-box;
}

#MainLayout:has(#Menu[data-collapse = "1"]){
    /*Grid Config*/
    grid-template-columns: 
    minmax(0,0.5fr) minmax(0,10fr);
}

#Header{
    display: grid;
    width: 100%;
    height: 100%;

    /*Grid Config*/
    grid-template-areas: "Greetings LoginStatus";
    grid-template-rows: 100%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.1fr);
    grid-area: Header;
    place-self: center center;

    /*Font*/
    font-weight: bold;
    font-family: var(--FontFamilyMain);

    /*Text*/
    color: black;
}

#Header span{
    width: 100%;
    height: 100%;
}

#Header span:nth-child(1){
    /*Grid Config*/
    grid-area: Greetings;
    place-content: center start;

    /*Font*/
    font-size: var(--FontSizeApprox25PX);

    /*Text*/
    text-align: start;
}

#Header span:nth-child(2){
    /*Grid Config*/
    grid-area: LoginStatus;
    place-content: center end;

    /*Font*/
    font-size: var(--FontSizeApprox16PX);

    /*Text*/
    text-align: end;

    /*Cursor*/
    cursor: pointer;
}

#Header span:nth-child(2):hover{
    /*Text*/
    color: white;
}

#Menu[data-collapse = "1"] #Menu-CollapseBTN{
    display: grid;
    height: 100%;
    width: 55%;
    background-color: beige;

    /*Grid Configuration*/
    place-content: center center;
    place-self: center center;
    
    /*Font*/
    font-size: var(--FontSizeApprox17PX);
    
    /*Text*/
    text-align: center;
    color: black;

    /*Cursor*/
    cursor: pointer;
}

#ManageFriends{
    display: grid;
    height: 100%;
    width: 100%;

    /*Grid Configuration*/
    grid-template-areas: 
    "Friends SendFriendRequests"
    "FriendRequests SendFriendRequests";
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr);
    row-gap: 2dvh;
    column-gap: 1dvw;

    /*Border*/
    box-sizing: border-box;

    /*Padding*/
    padding-bottom: 1dvh;
}

#Friends{
    display: grid;
    width: 100%;
    height: 100%;

    /*Grid Configuration*/
    grid-area: Friends;
    grid-auto-rows: min-content;
    row-gap: 1dvh;

    /*Border*/
    border: var(--BorderCornflowerblueColoured);
    border-width: 3pt;
    box-sizing: border-box;

    /*Font*/
    font-family: var(--FontFamilyMain);

    /*Padding*/
    padding-top: 1.7dvh;

    /*Scroll Behaviour*/
    scrollbar-gutter: stable both-edges;
    overflow: auto;
}

#Friends legend{
    background-color: cornflowerblue;

    /*Font*/
    font-size: var(--FontSizeApprox30PX);
    font-weight: bold;

    /*Text*/
    text-align:left;
    color: white;

    /*Positioning*/
    margin-left: 1.5dvw;

    /*Padding*/
    padding-left: 0.6dvw;
    padding-right: 0.6dvw;
    padding-top: 0.6dvh;
    padding-bottom: 0.6dvh;
}

.Friends-Row{
    display: grid;
    height: 5.5dvh;
    width: 99%;

    /*Grid Configuration*/
    grid-template-rows: 100%;
    grid-template-columns: minmax(0, 5fr) minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 0.7dvw;
    place-self: start center;

    /*Font*/
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;
}

.Friends-Row span{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;

    /*Grid Configuration*/
    place-self: center center;
    place-content: center center;

    /*Font*/
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;

    /*Border*/
    border-radius: 10px 10px 10px 10px;
}

.Friends-Row button{
    /*Font*/
    font-size: var(--FontSizeApprox17PX);
    font-weight: bold;

    /*Border*/
    border-radius: 10px 10px 10px 10px;

    /*Cursor*/
    cursor: pointer;
}

.Friends-Row button:nth-child(2){
    background-color: var(--ColourDandelion);


    /*Border*/
    border-color: var(--ColourDandelion);
}

.Friends-Row button:nth-child(3){
    background-color: var(--ColourRose);

    /*Text*/
    color: white;

    /*Border*/
    border-color: var(--ColourRose);
}

#FriendRequests{
    display: grid;
    width: 100%;
    height: 100%;

    /*Grid Configuration*/
    grid-area: FriendRequests;
    grid-auto-rows: min-content;
    row-gap: 1dvh;

    /*Border*/
    border: var(--BorderDandelionColoured);
    border-width: 3pt;
    box-sizing: border-box;

    /*Font*/
    font-family: var(--FontFamilyMain);

    /*Padding*/
    padding-top: 1.7dvh;

    /*Scroll Behaviour*/
    scrollbar-gutter: stable both-edges;
    overflow: auto;
}

#FriendRequests legend{
    background-color: var(--ColourDandelion);

    /*Font*/
    font-size: var(--FontSizeApprox30PX);
    font-weight: bold;

    /*Text*/
    text-align:left;
    color: black;

    /*Positioning*/
    margin-left: 1.5dvw;

    /*Padding*/
    padding-left: 0.7dvw;
    padding-right: 0.7dvw;
    padding-top: 0.6dvh;
    padding-bottom: 0.6dvh;
}

.FriendRequests-Row{
    display: grid;
    height: 5.5dvh;
    width: 99%;

    /*Grid Configuration*/
    grid-template-rows: 100%;
    grid-template-columns: minmax(0, 5fr) minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 0.7dvw;
    place-self: start center;

    /*Font*/
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;
}

.FriendRequests-Row span{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--ColourDandelion);

    /*Grid Configuration*/
    place-self: center center;
    place-content: center center;

    /*Font*/
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: black;

    /*Border*/
    border-radius: 10px 10px 10px 10px;
}

.FriendRequests-Row button{
    /*Font*/
    font-size: var(--FontSizeApprox17PX);
    font-weight: bold;

    /*Border*/
    border-radius: 10px 10px 10px 10px;

    /*Cursor*/
    cursor: pointer;
}

.FriendRequests-Row button:nth-child(2){
    background-color: greenyellow;


    /*Border*/
    border-color: greenyellow;
}

.FriendRequests-Row button:nth-child(3){
    background-color: var(--ColourRose);

    /*Text*/
    color: white;

    /*Border*/
    border-color: var(--ColourRose);
}

#SendFriendRequests{
    display: grid;
    width: 100%;
    height: 100%;

    /*Grid Configuration*/
    grid-area: SendFriendRequests;
    grid-template-rows: min-content auto;
    gap: 3dvh;

    /*Border*/
    border: var(--BorderRoseColoured);
    border-width: 3pt;
    box-sizing: border-box;

    /*Font*/
    font-family: var(--FontFamilyMain);

    /*Padding*/
    padding-top: 1.5dvh;
}

#SendFriendRequests legend{
    background-color: var(--ColourRose);

    /*Font*/
    font-size: var(--FontSizeApprox30PX);
    font-weight: bold;

    /*Text*/
    text-align:center;
    color: white;

    /*Padding*/
    padding-left: 0.7dvw;
    padding-right: 0.7dvw;
    padding-top: 0.6dvh;
    padding-bottom: 0.6dvh;
}

#SearchRow{
    display: grid;
    height: 6dvh;
    width: 99%;

    /*Grid Configuration*/
    grid-template-rows: 100%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 10fr);
    column-gap: 0.5dvw;
    place-self: start center;
}
#SearchRow span{
    display: grid;
    width: 100%;
    height: 100%;

    /*Grid Configuration*/
    place-self: center center;
    place-content: center center;

    /*Font*/
    font-size: var(--FontSizeApprox30PX);
    font-weight: bold;
}

#SearchRow input[type="search"]{
    width: 100%;
    height: 100%;
    background-color: var(--ColourGray);

    /*Font*/
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;

    /*Border*/
    border: var(--BorderRoseColoured);
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
}

#SendFriendRequestsContainer{
    display: grid;
    height: 100%;
    width: 100%;

    /*Grid Configuration*/
    grid-auto-rows: min-content;
    row-gap: 1dvh;

    /*Scroll Behaviour*/
    scrollbar-gutter: stable both-edges;
    overflow: auto;
}
.SendFriendRequests-Row[data-show = "false"]{
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}
.SendFriendRequests-Row[data-show = "true"]{
    display: grid;
    height: 6dvh;
    width: 100%;

    /*Grid Configuration*/
    grid-template-rows: 100%;
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    column-gap: 0.7dvw;
    place-self: start center;

    /*Font*/
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;
}

.SendFriendRequests-Row span{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--ColourRose);

    /*Grid Configuration*/
    place-self: center center;
    place-content: center center;

    /*Font*/
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;

    /*Border*/
    border-radius: 10px 10px 10px 10px;
}

.SendFriendRequests-Row button{
    background-color: greenyellow;

    /*Font*/
    font-size: var(--FontSizeApprox17PX);
    font-weight: bold;

    /*Border*/
    border-radius: 10px 10px 10px 10px;
    border-color: greenyellow;

    /*Text*/
    color: black;

    /*Cursor*/
    cursor: pointer;
}