#Prompt-Unfriend[data-prompt-hidden = "true"]{
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}
#Prompt-Unfriend[data-prompt-hidden = "false"]{
    display: grid;
    width: 29dvw;
    background-color: beige;

    /*Grid Config*/
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    grid-template-columns: 100%;

    /*Positioning*/
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

     /*Border*/
    box-sizing: border-box;
    border: var(--BorderRoseColoured);
    border-radius: 30px 30px 30px 30px;

    /*Padding*/
    padding-bottom: 1.2dvh;
}

#Prompt-Unfriend h3{
    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox30PX);

    /*Text*/
    text-align: center;

    /*Margin*/
    margin: 0;

    /*Padding*/
    padding-top: 1dvh;
    padding-bottom: 1dvh;
}

#Prompt-Unfriend span{
    display: grid;

    /*Grid Config*/
    place-content: center center;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    color: var(--ColourGray);
    text-align: center;

    /*Padding*/
    padding-bottom: 1dvh;
}

#Prompt-Unfriend #Unfriend-Operation{
    display: grid;
    height: min-content;
    width: min-content;

    /*Grid Config*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    place-self: center center;
    gap: 1.3dvw;
}

#Unfriend-Operation #RemoveAnyway{
    display: grid;
    width: min-content;
    height: min-content;
    background-color: var(--ColourGray);

    /*Grid Config*/
    place-content: center center;
    place-self: center center;
    grid-auto-columns: min-content;

    /*Border*/
    border: none;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;

    /*Cursor Config*/
    cursor: pointer;

    /*Padding*/
    padding-top: 1.5dvh;
    padding-bottom: 1.5dvh;
    padding-left: 0.5dvw;
    padding-right: 0.5dvw;
}

#Unfriend-Operation #StayAsFriends{
    display: grid;
    width: min-content;
    height: min-content;
    background-color: var(--ColourRose);

    /*Grid Config*/
    place-self: center center;
    place-content: center center;

    /*Border*/
    border: none;

    /*Font*/
    font-family: var(--FontFamilyMain);
    font-size: var(--FontSizeApprox25PX);
    font-weight: bold;

    /*Text*/
    text-align: center;
    color: white;
    white-space: nowrap;

    /*Cursor Config*/
    cursor: pointer;

    /*Padding*/
    padding-top: 1.5dvh;
    padding-bottom: 1.5dvh;
    padding-left: 0.5dvw;
    padding-right: 0.5dvw;
}
